<div class="about-me">
<div class="col-md-12">
    <div class="col-md-4 col-md-offset-1 " [@slideAboutMeImage]>
        <img  src="assets/me.jpg" style="width: 300px; height: 300px">
    </div>
    <div class="col-md-4" class="aboutmecard" [@slideAboutMeText]>
        <mat-card>
                <h2> Hello! I'm Ashish. </h2>
            <mat-divider></mat-divider>
            <mat-card-content>
                <br>
                <p>
                 I'm a Full-Stack developer. I have more than 4 years of professional experience in building end to end web applications using various backend and frontend frameworks. I am an avid technology enthusiast and I always look for a challenging opportunity.
            </p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer style="padding-top: 5px; padding-bottom:5px;">
                    <img src="https://img.icons8.com/material/48/000000/facebook-new.png"/>
                    <img src="https://img.icons8.com/material/48/000000/instagram-new.png"/>
                    <img src="https://img.icons8.com/material/48/000000/twitter--v1.png"/>
                    <br>
            </mat-card-footer>
           
        </mat-card>
    </div>
            
    
</div>
</div>


